## Git Ignore File ##

.git/

# ignore analysis directory
.analysis/

# but do track ./analysis/ngram.py file
!./analysis/ngram.py
# but do track ./analysis/new_path/ directory
!./analysis/new_path/*

.gitlab-ci.yml